{% if show %}
  <div class="comingsoon-alert">
    <div class="container">
      <a href="#" class="close"><i class="fal fa-times"></i></a>
      <h4><i class="fal fa-bullhorn"></i> {{ heading }}</h4>
      <p>{{ message }}</p>
    </div>
  </div>
{% endif %}
